window#waybar {
    background: none;
    font-family: monospace;
}

#tray {
    margin-right: 10px;
}

#clock, #language {
    font-size: 18px;
    margin-right: 10px;
}

#custom-power {
    font-size: 24px;
    margin-right: 10px;
}
