* {
    background-color: #292c30;
    text-color:            #fcfcfc;
    border-color:          #44bfff;
}

window {
    background-color: #292c30;
}

mainbox {
    background-color: #292c30;
}

inputbar {
    background-color: #1d1f22;
    border: 1;
    border-color: #535659;
    border-radius: 3;
    padding: 5;
    margin: 5;
    spacing: 10;
}

prompt, entry, case-indicator {
    background-color: inherit;
    border-color: inherit;
}

element {
    border: 0;
    margin: 0;
    padding: 2 5;
}

element selected {
    background-color: #44bfff;
}

element alternate {
    background-color: #141618;
}

element-text {
    background-color: inherit;
}
